# Webinar 3 - Sprint 3: Preprocesamiento y análisis de datos con Pandas

## Objetivo de la Clase
Seguiremos explorando los conceptos básicos de python pero en esta ocasion abordaremos ejercicios complejos que nos permitirán desarrollar nuestra lógica de programación y crear código utilizando todas las funciones y métodos vistos hasta ahora.

#### Ejercicio 1: Pandas

Crea un dataframe simple usando elementos del diccionario.

- **Hint**: Clave-Valor es igual a Columnas y sus valores.

In [29]:
import pandas as pd

data = {'product_id': [101, 102, 103],
        'product_name': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500, 800, 300],
        'category': ['Electronics', 'Electronics', 'Electronics']}

df = pd.DataFrame(data)

In [31]:
df.head()

   product_id product_name  price     category
0         101       Laptop   1500  Electronics
1         102   Smartphone    800  Electronics
2         103       Tablet    300  Electronics

- [ ] **Check:** ¿Tuvimos que especificar los tipos de datos?

#### Ejercicio 2: Creando dataframes

Crea un dataframe simple usando elementos de la lista anidada.

- **Hint**: Debemos de especificar los nombres de las columnas.

In [34]:
import pandas as pd

sales_data = [
    ['Laptop', 'North America', 120, 120000],
    ['Smartphone', 'Europe', 340, 170000],
    ['Tablet', 'Asia', 210, 63000],
    ['Headphones', 'South America', 150, 45000],
    ['Smartwatch', 'Africa', 95, 28500],
]

columns = ['product_name_xd', 'region', 'units_sold', 'revenue']

sales_report = pd.DataFrame(data=sales_data, columns=columns)

In [35]:
sales_report.head()

  product_name_xd         region  units_sold  revenue
0          Laptop  North America         120   120000
1      Smartphone         Europe         340   170000
2          Tablet           Asia         210    63000
3      Headphones  South America         150    45000
4      Smartwatch         Africa          95    28500

#### Ejercicio 3: Exploremos pandas

A modo de clase magistral, exploremos algunas funcionalidades de pandas!

In [36]:
# Importamos
import pandas as pd

<div style="text-align: center;">
    <img src="ts_3.png" alt="Taylor Swift" style="width:50%;"/>
</div>

In [ ]:
# Podemos cargar el archivo especificando otros parámetros
# df = pd.read_csv("/datasets/sports.csv", sep=";", header=None, names=columnas, decimal=",")

In [38]:
# Cargamos el archivo
df = pd.read_csv('taylor_swift_songs.csv')

In [47]:
# Revisemoslo!
df.head(11)

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
0,Love Story,Fearless,2008,3.55,Country,850,4,Swift,Chapman,Grammy
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
4,All Too Well,Red,2012,5.29,Pop,600,1,Swift,Swift,Grammy
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
6,Anti-Hero,Midnights,2022,3.20,Pop,800,1,"Swift, Antonoff",Antonoff,NaN
7,The Archer,Lover,2019,3.31,Synth-pop,600,4,"Swift, Antonoff",Antonoff,NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
9,Cardigan,Folklore,2020,4.00,Indie Folk,700,6,"Swift, Dessner",Dessner,Grammy
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN

In [42]:
# Un vistazo mas especifico
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       49 non-null     object
 1   Album                       49 non-null     object
 2   Release Year                49 non-null     int64
 3   Duration (mins)             49 non-null     float64
 4   Genre                       49 non-null     object
 5   Spotify Streams (millions)  49 non-null     int64
 6   Peak Billboard Position     49 non-null     int64
 7   Songwriter(s)               49 non-null     object
 8   Producer(s)                 49 non-null     object
 9   Awards                      6 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 4.0+ KB

In [43]:
# Ultimas 5 filas
df.tail()

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
44,Ours,Speak Now,2010,4.01,Country,430,10,"Swift, Rose",Chapman,NaN
45,The Story of Us,Speak Now,2010,4.05,Country,450,12,"Swift, Rose",Chapman,NaN
46,Long Live,The Hunger Games,2012,4.02,Alternative,500,18,"Swift, T-Bone Burnett",Chapman,Grammy
47,Safe & Sound,The Hunger Games,2012,3.39,Alternative,470,19,"Swift, T-Bone Burnett",T-Bone Burnett,NaN
48,Eyes Open,Red,2012,3.53,Pop,700,1,"Swift, Martin, Shellback",T-Bone Burnett,NaN

In [44]:
# Seleccionar la fila con índice 5 (sexta fila)
df.loc[5]

Title                                 Willow
Album                               Evermore
Release Year                            2020
Duration (mins)                         3.34
Genre                            Alternative
Spotify Streams (millions)               500
Peak Billboard Position                    1
Songwriter(s)                 Swift, Dessner
Producer(s)                          Dessner
Awards                                   NaN
Name: 5, dtype: object

In [48]:
# Seleccionar las filas con índices 2, 5 y 10
df.loc[[2, 5, 10]]

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN

In [51]:
# Seleccionar solo la columna 'Title'
df.loc[0:5, 'Title']

0            Love Story
1    You Belong With Me
2          Shake It Off
3           Blank Space
4          All Too Well
5                Willow
Name: Title, dtype: object

In [55]:
# Seleccionar las filas 0 a 4 y las columnas 'Title' y 'Album'
df.loc[0:10, ['Title', 'Album']]

                 Title      Album
0           Love Story   Fearless
1   You Belong With Me   Fearless
2         Shake It Off       1989
3          Blank Space       1989
4         All Too Well        Red
5               Willow   Evermore
6            Anti-Hero  Midnights
7           The Archer      Lover
8       Wildest Dreams       1989
9             Cardigan   Folklore
10               Style       1989

In [ ]:
# Una forma distinta de escribirlo
index_res = df.loc[5, 'Title': 'Album']
print(index_res)

In [ ]:
# de la 9 a la 20, incluidas
index_res = df[9:20]
print(index_res)

In [58]:
# Filtrar canciones que pertenecen al álbum '1989'
df[df['Album'] == '1989']

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN
20,New Romantics,1989,2014,3.51,Electropop,850,11,"Swift, Antonoff",Antonoff,NaN
30,This Love,1989,2014,4.10,Pop,750,18,"Swift, Antonoff",Antonoff,NaN
37,Lover,1989,2014,4.29,Pop,700,9,"Swift, Antonoff",Antonoff,NaN

In [59]:
# Filtrar canciones que no sean del álbum 'Red'
df[df['Album'] != 'Red']

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
0,Love Story,Fearless,2008,3.55,Country,850,4,Swift,Chapman,Grammy
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
2,Shake It Off,1989,2014,3.39,Pop,2500,1,"Swift, Martin, Shellback","Martin, Shellback",Grammy
3,Blank Space,1989,2014,4.32,Pop,2300,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
5,Willow,Evermore,2020,3.34,Alternative,500,1,"Swift, Dessner",Dessner,NaN
6,Anti-Hero,Midnights,2022,3.20,Pop,800,1,"Swift, Antonoff",Antonoff,NaN
7,The Archer,Lover,2019,3.31,Synth-pop,600,4,"Swift, Antonoff",Antonoff,NaN
8,Wildest Dreams,1989,2014,3.40,Dream pop,850,3,"Swift, Martin, Shellback","Martin, Shellback",NaN
9,Cardigan,Folklore,2020,4.00,Indie Folk,700,6,"Swift, Dessner",Dessner,Grammy
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
11,Delicate,Reputation,2017,3.55,Electropop,750,7,"Swift, Antonoff",Antonoff,NaN
12,Look What You Made Me Do,Reputation,2017,3.31,Electropop,780,1,"Swift, Martin, Shellback","Martin, Shellback",NaN
13,Cruel Summer,Lover,2019,2.58,Pop,820,5,"Swift, Antonoff",Antonoff,NaN
14,Enchanted,Speak Now,2010,5.52,Country,450,5,Swift,Swift,NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN
18,Mean,Speak Now,2010,3.57,Country,400,11,Swift,Swift,Grammy
19,The 1,Folklore,2020,3.31,Indie Folk,700,4,"Swift, Dessner",Dessner,NaN
20,New Romantics,1989,2014,3.51,Electropop,850,11,"Swift, Antonoff",Antonoff,NaN
21,Teardrops on My Guitar,Taylor Swift,2006,3.37,Country,200,13,"Swift, Rose",Chapman,NaN
23,Our Song,Taylor Swift,2006,3.25,Country,180,11,"Swift, Rose",Chapman,NaN
24,Tim McGraw,Taylor Swift,2006,3.53,Country,160,11,"Swift, Rose",Chapman,NaN
25,Fearless,Fearless,2008,4.01,Country,500,9,Swift,Chapman,NaN
26,Marjorie,Evermore,2020,4.18,Alternative,200,18,"Swift, Dessner",Dessner,NaN
27,Evermore,Evermore,2020,4.20,Alternative,180,19,"Swift, Dessner",Dessner,NaN
28,Daylight,Lover,2019,4.53,Pop,750,20,"Swift, Antonoff",Antonoff,NaN
30,This Love,1989,2014,4.10,Pop,750,18,"Swift, Antonoff",Antonoff,NaN
31,Cornelia Street,Lover,2019,4.25,Pop,650,10,Swift,Swift,NaN
32,Peace,Folklore,2020,4.21,Indie Folk,620,11,"Swift, Dessner",Dessner,NaN
33,August,Folklore,2020,3.45,Indie Folk,550,19,"Swift, Dessner",Dessner,NaN
34,Mirrorball,Folklore,2020,4.45,Indie Folk,580,20,"Swift, Dessner",Dessner,NaN
35,Seven,Folklore,2020,4.20,Alternative,560,15,"Swift, Bon Iver",Bon Iver,NaN
36,Exile,Lover,2019,4.20,Synth-pop,650,7,"Swift, Antonoff",Antonoff,NaN
37,Lover,1989,2014,4.29,Pop,700,9,"Swift, Antonoff",Antonoff,NaN
38,Clean,Speak Now,2010,3.57,Country,400,10,Swift,Swift,NaN
39,Sparks Fly,Speak Now,2010,3.57,Country,420,15,"Swift, Rose",Chapman,NaN
40,Mine,Speak Now,2010,4.01,Country,410,16,"Swift, Rose",Chapman,NaN
41,Back to December,Speak Now,2010,4.07,Country,400,12,"Swift, Rose",Chapman,NaN
42,Change,Speak Now,2010,3.55,Country,360,14,"Swift, Rose",Chapman,NaN
43,Innocent,Speak Now,2010,3.48,Country,390,16,"Swift, Rose",Chapman,NaN
44,Ours,Speak Now,2010,4.01,Country,430,10,"Swift, Rose",Chapman,NaN
45,The Story of Us,Speak Now,2010,4.05,Country,450,12,"Swift, Rose",Chapman,NaN
46,Long Live,The Hunger Games,2012,4.02,Alternative,500,18,"Swift, T-Bone Burnett",Chapman,Grammy
47,Safe & Sound,The Hunger Games,2012,3.39,Alternative,470,19,"Swift, T-Bone Burnett",T-Bone Burnett,NaN

In [62]:
# Filtrar canciones con reproducciones entre 500 y 1000 millones
df[(df['Spotify Streams (millions)'] >= 900) & (df['Spotify Streams (millions)'] <= 1000)]

,Title,Album,Release Year,Duration (mins),Genre,Spotify Streams (millions),Peak Billboard Position,Songwriter(s),Producer(s),Awards
1,You Belong With Me,Fearless,2008,3.52,Country,920,2,"Swift, Rose",Chapman,NaN
10,Style,1989,2014,3.51,Pop,900,6,Swift,"Martin, Shellback",NaN
17,Out of the Woods,1989,2014,3.56,Synth-pop,900,6,"Swift, Antonoff",Antonoff,NaN

In [63]:
# Contar cuántos valores no nulos hay en cada columna
df.count()

Title                         49
Album                         49
Release Year                  49
Duration (mins)               49
Genre                         49
Spotify Streams (millions)    49
Peak Billboard Position       49
Songwriter(s)                 49
Producer(s)                   49
Awards                         6
dtype: int64

In [64]:
# Promedio de la duración de las canciones
df['Duration (mins)'].mean()

3.8026530612244893

In [65]:
# Duración total de todas las canciones en minutos
df['Duration (mins)'].sum()

186.32999999999998

In [66]:
# Promedio de duración de canciones lanzadas después de 2015
df[df['Release Year'] > 2015]['Duration (mins)'].mean()

3.7805882352941174

In [67]:
# Promedio de 'Duration (mins)' y 'Spotify Streams (millions)'
df[['Duration (mins)', 'Spotify Streams (millions)']].mean()

Duration (mins)                 3.802653
Spotify Streams (millions)    637.959184
dtype: float64

#### Ejercicio 4: Preprocesamiento y análisis inicial

Utilizaremos un dataset básico de precios de viviendas para hacer el proceso de análsisi incial.

<div style="text-align: center;">
    <img src="hp_2.jpg" alt="House pricing" style="width:50%;"/>
</div>

In [1]:
# Carguemos el dataset
import pandas as pd
large_df_expanded = pd.read_csv('house_price.csv')

In [ ]:
# 1. Resumen del DataFrame
large_df_expanded.info()

In [ ]:
# 2. Primeras 5 filas
large_df_expanded.head()

In [ ]:
# 3. Muestra aleatoria de 10 filas
large_df_expanded.sample(10)

In [ ]:
# 4. Tamaño del DataFrame
large_df_expanded.shape

In [ ]:
# 5. Tipos de datos
large_df_expanded.dtypes

In [ ]:
# 6. Nombres de las columnas
large_df_expanded.columns.tolist()

In [ ]:
# 6.1. Nombres de las columnas
large_df_expanded.columns

In [ ]:
# 7. Valores nulos en cada columna
large_df_expanded.isnull().sum()

In [ ]:
# 8. Valores no nulos en cada columna
large_df_expanded.notnull().sum()

In [ ]:
# 9. Estadísticas descriptivas
large_df_expanded.describe()

In [ ]:
# 10. Renombrar columna
# Antes de renombrar
large_df_expanded.columns

In [ ]:
# 10. Renombrar columna
renamed_df = large_df_expanded.rename(columns={"Tipo": "Tipo de Vivienda"})
renamed_df.head()

In [ ]:
# 11. Eliminar espacios en blanco
trimmed_df = large_df_expanded.copy()
trimmed_df["Ciudad"] = trimmed_df["Ciudad"].str.strip()
trimmed_df.head()

In [ ]:
# 12. Convertir a minúsculas
lowercase_df = large_df_expanded.copy()
lowercase_df["Ciudad"] = lowercase_df["Ciudad"].str.lower()
lowercase_df.head()

In [ ]:
# 13. Reemplazar valores
replaced_df = large_df_expanded.copy()
replaced_df["Tipo"] = replaced_df["Tipo"].replace({"Apartamento": "Flat"})
replaced_df.head()

In [ ]:
# 14. Agregar nueva fila
appended_df = large_df_expanded.copy()
new_row = {
    "ID": 106, "Ciudad": "Valencia", "Tipo": "Casa", "Precio (EUR)": 450000,
    "Año de Construcción": 2025, "Superficie (m2)": 180, "Habitaciones": 4,
    "Baños": 3, "Garaje": 1, "Ascensor": 1, "Energía Renovable": "Solar"
}
appended_df = appended_df.append(new_row, ignore_index=True)
appended_df.tail()

In [ ]:
# 15. Contar valores NaN
large_df_expanded.isna().sum()

In [ ]:
# 16. Rellenar valores NaN
# Miremos primero si tenemos
large_df_expanded.head()

In [ ]:
# 16. Rellenar valores NaN
filled_df = large_df_expanded.fillna({"Ascensor": 0, "Energía Renovable": "Desconocido"})
filled_df.head()

In [ ]:
# 17. Eliminar filas con valores nulos
dropped_na_df = large_df_expanded.dropna(axis=0)
dropped_na_df.head()

In [ ]:
# 18. Contar duplicados
large_df_expanded.duplicated().sum()

In [ ]:
# 19. Eliminar duplicados
deduplicated_df = large_df_expanded.drop_duplicates().reset_index(drop=True)
deduplicated_df.head()

In [ ]:
# 20. Valores únicos de Ciudad
large_df_expanded["Ciudad"].unique()

In [ ]:
# 21. Contar valores únicos de Ciudad
large_df_expanded["Ciudad"].nunique()

In [ ]:
# 22. Copia del DataFrame
copied_df = large_df_expanded.copy()

In [ ]:
# 23. Agrupar por Ciudad y calcular suma y conteo
grouped_df_sum = large_df_expanded.groupby("Ciudad")["Precio (EUR)"].sum()
grouped_df_count = large_df_expanded.groupby("Ciudad")["Precio (EUR)"].count()
grouped_df_sum, grouped_df_count

In [ ]:
# 24. Ordenar por Superficie
sorted_df = large_df_expanded.sort_values(by="Superficie (m2)", ascending=False)
sorted_df.head()

#### Ejercicio 5: Trabajando con datos duplicados/ausentes

Los datasets nunca vienen limpios. Qué pasa cuando tenemos valores duplicados o vacios?

<div style="text-align: center;">
    <img src="dv.jpg" alt="House pricing" style="width:50%;"/>
</div>

In [1]:
# Carguemos el dataset
import pandas as pd
currency_df = pd.read_csv('divisa.csv')

In [ ]:
currency_df.head()

In [ ]:
# 1. Resumen del DataFrame
currency_df.info()

In [ ]:
# 2. Contar valores nulos en cada columna
currency_df.isna().sum()

In [ ]:
# 3. Contar valores por categoría, incluyendo NaN
currency_df["Source"].value_counts(dropna=False)

In [ ]:
# 4. Ordenar por índice
currency_df.sort_index()

In [ ]:
# 5. Filtrar datos con condiciones
filtered_data = currency_df[
    (~currency_df["Currency Pair"].isna()) & (currency_df["Source"] == "Trading Platform A")
]

In [ ]:
print(filtered_data)

In [ ]:
# 6. Reemplazar valores vacíos
currency_df["Source"] = currency_df["Source"].replace("", "Unknown")
print(currency_df["Source"].unique())

In [ ]:
# 7. Rellenar valores nulos en `Volume` con la media
currency_df["Volume"] = currency_df["Volume"].fillna(currency_df["Volume"].mean())
print(currency_df["Volume"].head())

In [ ]:
# 8. Eliminar duplicados y restablecer índice
deduplicated_df = currency_df.drop_duplicates().reset_index(drop=True)
print(deduplicated_df.head())

### Conclusiones

Hoy nos hemos introducido a los conceptos fundamentales de pandas y realizado algunas funciones avanzadas.

### Tarea

- Practica con más ejercicios de Pandas en [w3schools - Python Pandas](https://www.w3schools.com/python/pandas/default.asp).
- Revisa la documentación de Pandas en [Pandas - Getting Started](https://pandas.pydata.org/docs/getting_started/index.html).

### Takeaways

- Revisa el modulo de `solucionar problemas con archivos CSV` de la plataforma.
- Hay muchos Datasets en internet. Explora Kaggle.
- Hoy hicimos nuestra primera exploración de datos!